
.sec{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;   
}
table{
    width: 100%;
    background: black;
    color: white;
    text-align: center;
}


button{
    height: 50px;
    width: 150px;
    background: orange;
    border: 1px solid orange;
    margin-top: 5px;
    margin: 5px;
}
